.container1 {
  margin-top: 20px;
}
.mainbody {
  padding: 10px;
  background-image: url("Images/pexels-tara-winstead-8386687.jpg");
  background-size: cover;
  width: auto;
  height: 100vh;
}
.sticky {
  /* position: absolute; 
  right: 0;
  z-index: 150;  */
  transform: rotate(5deg);
  width: 250px;
  min-height: 170px;
  margin: 10px 10px 10px;
  padding: 10px;
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue",
    cursive;
  font-size: 14px;
  color: #000;
  background: rgba(255, 255, 51, 0.8);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
  /* margin: 0 auto; */
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.sticky:before,
.sticky:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}
.sticky:before {
  border-top: solid 8px #fff;
  border-right: solid 8px #fff;
  border-left: solid 8px transparent;
  border-bottom: solid 8px transparent;
}
.sticky:after {
  border-bottom: solid 8px #dddd33;
  border-left: solid 8px #dddd33;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
}
ul {
  list-style-type: none;
}
li {
  font-size: 20px;
}
.handle {
}
.completed {
  position: absolute;
  padding: 10px;
  top: 80%;
  background-color: aquamarine;
  left: 85%;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 10px;
  cursor: pointer;
}
.addno1 {
  position: absolute;
  padding: 3 px;
  top: 90%;
  background-color: aquamarine;
  left: 86.3%;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 10px;
}
.addno:hover {
  border-color: aqua;
  color: black;
}
.history {
  position: fixed;
  padding: 20px;
  bottom: 300px;
  left: 37%;
  right: auto;
  border: 2px solid #0c9;
  right: auto;
  background-color: white;
  color: #000;
  border-radius: 20px;
  text-align: center;
}
.history td {
  padding: 5px;
}
.dbody {
  filter: blur(10px);
  pointer-events: none;
  padding: 10px;
  background-image: url("Images/pexels-tara-winstead-8386687.jpg");
  background-size: cover;
  width: auto;
  height: 100vh;
}
.rightsign {
}
.Edit {
  font-size: 10px;
  margin-left: 30px;
  margin-top: 5px;
}
